@model AdminModel;

<div>
    <span><h1 class="text-center text-info">ACC Map Decision - View Courses   <form asp-controller="Admin" asp-action="Logout" ><input class="btn btn-info" type="Submit" value="Logout"></form></h1></span>
    <span id="lblExpire" class="text-warning" style="margin-left:10px; font-size: medium;"></span>

    <div class="container">
        <div>
            <div>
                <div style="padding-bottom: 5px">
                    <a href="Index"><input type="submit" class="btn btn-info" value="Back"/></a>
<<<<<<< HEAD
                    <span><form asp-controller="Download" asp-action="DownloadFile" ><input class="btn btn-info download-csv" type="Submit" value="Export"></form></span>

=======
                    <a href="AddCourse"><input type="submit" class="btn btn-info" value="Add Course"/></a>
>>>>>>> cff145e23abc0dc08d8e5d73b27e068b05406e06
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Course Name</th>
                            <th scope="col">Course Code</th>
                            <th scope="col">View/Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.course){
                        <tr>
                            <td>@item.course_name</td>
                            <td>@item.course_code</td>
                            <td>
                                <span class="courseButtons">
                                    <form asp-controller="Admin" asp-action="ViewCourse">
                                        <input type="hidden" name="id" value="@item.id">
                                        <input type="hidden" name="code" value="@item.course_code">
                                        <input type="hidden" name="name" value="@item.course_name">
                                        <input type="hidden" name="description" value="@item.course_description">
                                        <input type="hidden" name="rationale" value="@item.course_rationale">
                                        <input class="btn btn-info" type="Submit" value="View">
                                    </form>
                                </span>
                                <span class="courseButtons">
                                    <form asp-controller="Admin" asp-action="EditCourse">
                                        <input type="hidden" name="id" value="@item.id">
                                        <input type="hidden" name="code" value="@item.course_code">
                                        <input type="hidden" name="name" value="@item.course_name">
                                        <input type="hidden" name="description" value="@item.course_description">
                                        <input type="hidden" name="rationale" value="@item.course_rationale">
                                        <input class="btn btn-info" type="Submit" value="Edit">
                                    </form>
                                </span>
                                <span class="courseButtons">
                                    <form asp-controller="Admin" asp-action="DeleteCourse">
                                        <input type="hidden" name="id" value="@item.id">
                                        <input type="hidden" name="code" value="@item.course_code">
                                        <input type="hidden" name="name" value="@item.course_name">
                                        <input type="hidden" name="description" value="@item.course_description">
                                        <input type="hidden" name="rationale" value="@item.course_rationale">
                                        <input class="btn btn-danger" type="Submit" value="Delete">
                                    </form>
                                </span>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
