@model AdminModel;

<div>
    <span><h1 class="text-center text-info">ACC Map Decision - Questions <form asp-controller="Admin" asp-action="Logout" ><input class="btn btn-info" type="Submit" value="Logout"></form></h1></span>
    <span id="lblExpire" class="text-warning" style="margin-left:10px; font-size: medium;"></span>
    <div class="container">
        <div style="padding-bottom: 5px">
            <a href="Index"><input type="submit" class="btn btn-info" value="Back"/></a>
        </div>
         <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Question ID</th>
                            <th scope="col">Question Text</th>
                            <th scope="col">View/Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.question){
                        <tr>
                            <td>@item.questionID</td>
                            <td>@item.questionText</td>
                            <td>
                                <span class="courseButtons">
                                    <form asp-controller="Admin" asp-action="ViewQuestion">
                                        <input type="hidden" name="id" value="@item.questionID"/>
                                        <input class="btn btn-info" type="Submit" value="View">
                                    </form>
                                </span>
                                <span class="courseButtons">
                                    <form asp-controller="Admin" asp-action="EditQuestion">
                                        <input type="hidden" name="id" value="@item.questionID"/>
                                        <input class="btn btn-info" type="Submit" value="Edit">
                                    </form>
                                </span>
                                <span class="courseButtons">
                                    <form asp-controller="Admin" asp-action="DeleteQuestion">
                                        <input type="hidden" name="id" value="@item.questionID"/>
                                        <input class="btn btn-danger" type="Submit" value="Delete">
                                    </form>
                                </span>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
    </div>
</div>