@model UserResponseManager

<div>
    <span><h1 class="text-info text-center">ACC Map Decision</h1></span>

    <div class="container">
        <h2 class="text-center">@Model.currentQuestion.questionText</h2> 

        <div class="loginCenter">
            <form method="POST" asp-controller="Home" asp-action="Index">
                <input type="hidden" asp-for="@Model.userResponseState" value="@Model.userResponseState">
                <input type="hidden" asp-for="@Model.isQuestionsPopulated" value="@Model.isQuestionsPopulated">
                <input type="hidden" name="currentQuestionID" value="@Model.currentQuestionID">
                @foreach (var option in Model.currentQuestion.optionsList){
                    <div class="buttonContainer text-center">
                        @if (option.optionID == 11) {   // ALP-AU
                            <a href="https://www.nscc.ca/learning_programs/programs/plandescr.aspx?prg=ALP&pln=ALPLEVEL4" target="_blank"><button class="firstButton btn btn-info" type="button">@option.optionText</button></a>
                        } else {
                            <button name="selectedOptionId" class="firstButton btn btn-info" type="submit" value="@option.optionID">@option.optionText</button>
                        }
                    </div>
                }

                @* <ul class="list-group" style="padding-top: 5px">
                    @foreach (var course in Model.userResponse.coursesToInclude) {
                        <li class="list-group-item">@course.courseCode | @course.courseUnits </li>
                    }
                </ul>

                <ul class="list-group" style="padding-top: 5px">
                    <li class="list-group-item">@Model.userResponse.totalCourseUnits</li>
                </ul> *@
                
            </form>
        </div>
        
    </div>
</div>