@model UserResponseManager;

<div>
    <span><h1 class="text-center text-info">ACC Map Decision - Select Courses</h1></span>
    <span id="lblExpire" class="text-warning" style="margin-left:10px; font-size: medium;"></span>

    <div class="container">
        <div stlye="padding-bottom: 10px">
            <h1 class="text-center text-info">@Model.currentSemester.semesterTitle</h1>
        </div>

        <div class="alert alert-primary my-4 text-center" role="alert">
            <div class="pb-2">Total course units for <strong>part-time</strong> study should be less than <strong>3.5</strong> in each semester</div>
            <div class="">
                If you have <strong>CHEM/PHYS</strong> AND <strong>MATH</strong> in the courses below, please select <strong>MATH 1</strong> in the precedding or same term as the <strong>CHEM/PHYS 1</strong>. Don't take <strong>CHEM</strong> or <strong>PHYS</strong> Before <strong>MATH</strong>!
            </div>
        </div>

        <div id="full-time-warning" class="alert alert-warning my-4 text-center w-auto" role="alert" style="display: none;">
            <div class="">
                Switched to <strong>full-time</strong>
            </div>
        </div>

        <form style="width: 100%;" asp-controller="Home" asp-action="SelectCourses">
            <input type="hidden" asp-for="@Model.userResponseState" value="@Model.userResponseState">
            <input type="hidden" name="currentSemesterID" value="@Model.currentSemesterID">
                        
            <div><strong>Courses Offered in @Model.currentSemester.semesterTitle</strong></div>

            <ul class="list-group" style="padding-top: 5px">
                @foreach (var item in Model.currentSemester.eligibleCourses) {
                    if(item.show) {
                        <li class="list-group-item row">
                            <input onchange="onCourseSelect(@item.courseUnits, this)" class="col-1" type="checkbox" asp-for-checkbox="true" name="selectedCourses[]" id="@item.courseID" value="@item.courseID" checked="@(Model.currentSemester.coursesSelected.FindIndex(x => x.courseID == item.courseID) != -1 ? true : false)" />
                            <label for="@item.courseID" class="col-10">
                                <div class="row">
                                    <span class="col-3 font-weight-bold">@item.courseCode</span>
                                    <span class="col-7">@item.courseName</span>
                                    <span class="col-2"><span class="font-weight-bold">Units:</span> @item.courseUnits</span>
                                </div>
                            </label>
                        </li>
                    }
                }
            </ul>


            <ul class="list-group" style="padding-top: 5px">
                @foreach (var course in Model.userResponse.coursesSelected) {
                    <li class="list-group-item">@course.courseCode | @course.courseUnits </li>
                }
            </ul>

            <hr>
            <div class="centerDelete form-group">
                <span><button class="btn btn-success" type="submit">Save & Next</button></span>
            </div>
        </form>

        <div class="row">
            @if (Model.currentSemesterID > 1) {
                <div class="col text-center">
                    <form style="width: 100%;" asp-controller="Home" asp-action="SelectCourses">
                        <input type="hidden" asp-for="@Model.userResponseState" value="@Model.userResponseState">

                        @{ int switchToSemesterID = Model.currentSemesterID - 1; }
                        <input type="hidden" name="switchToSemesterID" value="@switchToSemesterID">

                        <div class="form-group" style="padding-top: 5px" >
                            <span><button class="btn btn-info" type="submit">Previous</button></span>
                        </div>
                    </form>   
                </div>
            }
        </div>
    </div>
</div>

<script>

let totalUnits = 0;

function onCourseSelect(units, e) {
    if(e.checked)
        totalUnits += units;
    else
        totalUnits -= units;

    if(totalUnits > 3.5) {
        document.getElementById('full-time-warning').style.display = "block";
    } else {
        document.getElementById('full-time-warning').style.display = "none";
    }
}

</script>